<h1>ユーザー設定</h1>

<% unless user_signed_in? %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>


<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'スクレイピング画面へ', scrape_product_path, method: :post %>
<% end %>

<%= form_with(model: @setting, url: settings_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.label :値下げ時間の設定 %>
    <%= form.time_field :price_drop_time %>
  </div>

  <div class="field">
    <%= form.label :値下げ価格の設定 %>
    <%= form.number_field :price_drop_amount %>
  </div>

  <div class="actions">
    <%= form.submit "保存" %>
  </div>
<% end %>

<% @settings.each do |setting| %>
  <div>
    <!-- 設定の表示 -->
    <p><strong>設定ID:</strong> <%= setting.id %></p>
    <p><strong>価格ドロップ時間:</strong> <%= setting.price_drop_time %></p>
    <p><strong>価格ドロップ量:</strong> <%= setting.price_drop_amount %></p>

    <%= link_to '詳細', setting_path(setting) %>
    <%= link_to '削除', delete_setting_path(setting), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </div>
<% end %>

<h2>メルカリログイン</h2>

<%= form_with(url: scrape_product_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "スクレイピング開始" %>
  </div>
<% end %>
