<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>原価</th>
      <th>損益分岐点</th>
      <th>値下げ価格</th>
      <th>値下げ時間</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.cost_price %></td>
        <td><%= product.break_even_point %></td>
        <td><%= product.markdown_price %></td>
        <td><%= product.markdown_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
